* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content h1 {
  text-align: center;
}

.about {
  justify-content: space-around;
  padding-left: 30px;
  margin-top: 50px;
}

.router {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}

.detailPokedex img {
  max-width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
